extends layout

block content
  div(class="container")
      
    div(class="page-header")
      h1 API Project: File Metadata Microservice
      p By Brandon Roth | #[a(href="https://github.com/brandonroth92/File-Metadata") Project GitHub]

    div
      h2 What is this?
      p This is an API project for freeCodeCamp's Back End Development Certification. It accepts a FormData object that includes a file upload and returns the file size in bytes in a JSON response.
      br
      h4 Example output:
      code. 
        {"size":"926 bytes"}
      br
      br
      p File uploader is located at #[a(href="https://brandonr-metadata.herokuapp.com/api/readFile") /api/readFile]
